nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3.8em 4em;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0em 5em;

    li {
      font-size: 2.1rem;
      font-weight: 400;
      color: var(--text-color);
      cursor: pointer;
      position: relative;
    }
  }

  .menu {
    justify-content: space-around;

    li:first-child {
      margin-right: 1.3em;
    }
  }

  .user-actions {
    justify-content: space-evenly;
    gap: 5px;
    padding: 0 3em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 2.6em;
      width: 2px;
      background-color: gray;
      display: flex;
      margin-top: 1em;
      margin-left: 1.4em;
    }

    li {
      font-size: 2rem;
      background-color: white;
      width: max-content;
      border-radius: 1em;
      padding: .4em 1.7em;
      margin-top: 5px;
      transition: all 400ms;

      &:hover {
        box-shadow: 0 0 1em #42468433;
        font-weight: 600;
      }

      &::before {
        content: "";
        width: 3em;
        height: 1em;
        box-shadow: 0 0 2em var(--text-color);
        left: calc(50% - 1.5em);
        top: calc(50% - .5em);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
        transition: all 400ms;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

}